/* sc-component-id: sc-bdVaJa */
.sc-bdVaJa {}
.cRZYcP{font-family:Roboto,sans-serif;font-size:1.6rem;line-height:3rem;text-transform:uppercase;font-weight:500;height:3rem;display:block;text-align:center;padding-bottom:.5rem;color:#84818B;background-color:rgba(244,255,111,0.4);}
/* sc-component-id: sc-bwzfXH */
.sc-bwzfXH {}
.jwkFpg{float:none;padding:.5rem;text-align:center;background-color:rgba(108,255,104,0.3);}
/* sc-component-id: sc-htpNat */
.sc-htpNat {}
.fKOgYS{height:3.7rem;width:3.7rem;background-color:rgba(108,255,104,0.6);}
/* sc-component-id: sc-bxivhb */
.sc-bxivhb {}
.ecUTBj{position:relative;text-align:center;background-color:#ffffff;border-width:0;border-style:solid;border-radius:0px;overflow:hidden;}
/* sc-component-id: sc-ifAKCX */
.sc-ifAKCX {}
.dKdhat{height:auto;display:inline-block;font-size:2.5rem;width:46.1172px;text-align:right;border:none;outline:none;color:#b7b7b7;}.dKdhat{height:auto;display:inline-block;font-size:2.5rem;width:46.1172px;text-align:right;border:none;outline:none;color:#b7b7b7;}.dKdhat{height:auto;display:inline-block;font-size:2.5rem;width:46.1172px;text-align:right;border:none;outline:none;color:#b7b7b7;}.dKdhat{height:auto;display:inline-block;font-size:2.5rem;width:46.1172px;text-align:right;border:none;outline:none;color:#b7b7b7;}.dKdhat::-webkit-input-placeholder{color:rgba(0,0,0,0.4);}.dKdhat::-moz-placeholder{color:rgba(0,0,0,0.4);}.dKdhat:-ms-input-placeholder{color:rgba(0,0,0,0.4);}.dKdhat::placeholder{color:rgba(0,0,0,0.4);}
/* sc-component-id: sc-EHOje */
.sc-EHOje {}
.cnVeQV{text-align:center;height:auto;width:auto;display:inline-block;font-size:2.5rem;color:#b7b7b7;}
/* sc-component-id: sc-bZQynM */
.sc-bZQynM {}
.bAliTD{display:block;height:2px;width:auto;background-color:#b7b7b7;}
/* sc-component-id: sc-gzVnrw */
.sc-gzVnrw {}
.maVKC{width:36%;margin:50px auto;}
/* sc-component-id: sc-htoDjs */
.sc-htoDjs {}

/* sc-component-id: sc-dnqmqq */
.sc-dnqmqq {}
.khkjfN{overflow:hidden;}